<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Meet the members!</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<style>
		@font-face {
			font-family: "Pretendard-Regular";
			src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
			format("woff");
			font-weight: 400;
			font-style: normal;
		}
		body {
			font-family: "Pretendard-Regular";
		}
	</style>
</head>

<body>
	<!-- 네비게이션 바 -->
	<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-between" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ url_for('main') }}">BookBTI</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ url_for('main') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('test') }}">BookBTI</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('team') }}">Team</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- 팀원 소개 -->
	<div class="container text-center pt-5">
		<div class="row mb-5">
			<h1 class="display-1 text-center">BookBTI!</h1>
			<p class="display-5 text-center">Meet the members!</p>
		</div>
		<div class="row">
			<div class="col">
				<img src="static/이현범.png" alt="이현범" width="225px" height="225px">
				<h2>이현범</h2>
				<h2>ENFJ</h2>
				<p>알라딘 서점 재고 조사 안내 페이지</p>
			</div>
			<div class="col">
				<img src="static/이성령.png" alt="이성령" width="225px" height="225px">
				<h2>이성령</h2>
				<h2>ISFJ</h2>
				<p>테스트 페이지</p>
			</div>
			<div class="col">
				<img src="static/강요셉.png" alt="강요셉" width="225px" height="225px">
				<h2>강요셉</h2>
				<h2>ISTP</h2>
				<p>테스트 결과 페이지</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<img src="static/김대환.png" alt="김대환" width="225px" height="225px">
				<h2>김대환</h2>
				<h2>INTJ</h2>
				<p>테스트 결과 페이지</p>
			</div>
			<div class="col">
				<img src="static/이진서.png" alt="이진서" width="225px" height="225px">
				<h2>이진서</h2>
				<h2>INTP</h2>
				<p>메인 페이지</p>
			</div>
			<div class="col">
				<img src="static/류시영.png" alt="류시영" width="225px" height="225px">
				<h2>류시영</h2>
				<h2>INTP</h2>
				<p>메인 페이지</p>
			</div>
		</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>